.featured__hero__stats {
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 0;
    text-align: center;
    background-color: white;
}

.featured__hero__stats div {
    padding: 5px 5px 0 5px;
    border-radius: 20px;
}

.featured__hero__stats div:hover {
    background-color: rgba(63, 63, 63, 0.1);
    cursor: crosshair;
}

.featured__hero__stats__icon {
    width: 25px;
    margin-bottom: 10px;
}

.hero__powerstat__combat {
    order: 0;
}

.hero__powerstat__strength {
    order: 1;
}

.hero__powerstat__power {
    order: 2;
}

.hero__powerstat__speed {
    order: 3;
}

.hero__powerstat__intelligence {
    order: 4;
}

.hero__powerstat__durability {
    order: 5;
}
