.nav {
    height: 80px;
    background-color: black;
    color: white;
  }
  
.nav .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-size: 130%;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.nav__logo {
    width: 140px;
}

.nav__search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__search input {
    height: 30px;
    border: none;
    transition: outline .1s;
}

.nav__search input:focus {
    outline: 2px solid rgb(255, 114, 13);
    outline-offset: 2px;
}

.nav__search button {
    height: 30px;
    padding: 50px;
    margin-left: 10px;
    border: none;
    
    color: rgba(255, 255, 255, .9);
    background-color: rgb(255, 114, 13);
    cursor: pointer;
}

.nav__search input, .nav__search button {
    height: 20px;
    padding: 10px 10px;
    border-radius: 32px;
}
